<div class="container mt-5">
  <h1>Edit flat</h1>
  <div>
    <%= render "flat", flat: @flat %>
  </div>
  <%= link_to "Back to flats", flats_path, class: "btn btn-light mt-3 border border-secondary" %>
</div>
